<a href="https://colab.research.google.com/github/sangy1/ttp-winter2022/blob/main/Warmup1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
string1 = "Hello World"
# 1) Prints 3rd charcter to 5th
print(string1[2:5])
# 2) Prints reverse
print(string1[::-1])

llo
dlroW olleH

In [ ]:
# 3) Print user input in reverse
inp = input("Enter a string: ")
print(inp[::-1])
# 4) Print user input in a sentence
inp = input("Enter a new string: ")
print(f"You have entered: {inp}")

Enter a string: AFEWW
WWEFA
Enter a new string: SDFE
You have entered: SDFE

In [ ]:
# 5) Find type of 3 objects
obj1 = 2
obj2 = "as"
obj3 = 2.5
print(f"Type of object 1: {type(obj1)} ")
print(f"Type of object 2: {type(obj2)} ")
print(f"Type of object 3: {type(obj3)} ")

Type of object 1: <class 'int'>
Type of object 2: <class 'str'>
Type of object 3: <class 'float'>

In [ ]:
import math
# 6) Add number
print(5+4)
# 7) find sqrt of 5 numbers
print(math.sqrt(1))
print(math.sqrt(2))
print(math.sqrt(3))
print(math.sqrt(4))
print(math.sqrt(5))
# 8) Find whole # of 5 div problem
print(9//1)
print(9//2)
print(9//3)
print(9//4)
print(9//5)

9
1.0
1.4142135623730951
1.7320508075688772
2.0
2.23606797749979
9
4
3
2
1

In [22]:
# 9) Create 2 lists and combine them
list1 = [1, 2, 3, 4, "tomy"]
list2 = ["ASDF", "qewr", 5]
joinedlist = list1 + list2
print(joinedlist)
# 10) Create 2 arrays and combine them
arr1 = (1, 2, 3, 4)
arr2 = (5, 65, 874)
joinedarr = arr1+arr2
print(joinedarr)

[1, 2, 3, 4, 'tomy', 'ASDF', 'qewr', 5]
(1, 2, 3, 4, 5, 65, 874)

In [ ]:
# 11) convert 5 objects to another type
var1 = 5
var2 = 1.5
var3 = "2"
conv1 = str(var1)
conv2 = int(var2)
conv3 = float(var1)
conv4 = var1 + var2
conv5 = float(var3)
print(f"Type of conv1 = {type(conv1)}") #shows that converts from int to str
print(f"Type of conv2 = {type(conv2)}") #shows that converts from float to int
print(f"Type of conv3 = {type(conv3)}") #shows that converts from int to float 
print(f"Type of conv4 = {type(conv4)}") #shows that addition from int to float
print(f"Type of conv5 = {type(conv5)}") #shows that converts from str to float
# 12) convert form lowercase to upercase
lowerString = "abcd"
upperString = lowerString.upper() #converts lowerString to uppercase
print(upperString)

Type of conv1 = <class 'str'>
Type of conv2 = <class 'int'>
Type of conv3 = <class 'float'>
Type of conv4 = <class 'float'>
Type of conv5 = <class 'float'>
ABCD

In [ ]:
# 13) #Print out python one letter at atime
pystring = "Python"
for i in pystring: # Used for loop to print out each leter
  print(i, end='')
print("")# space because previous for loop doesnt make new line

# 14) Print an object from list of objects
obj1 = 2
obj2 = "asdf"
obj3 = 4.5
list1 = [obj1, obj2, obj3]
print(f"Printing 3rd object: {list1[2]}") #prints 3rd object in list

# 15) get version of python
import sys #from stackoverflow
print(sys.version)

Python
Printing 3rd object: 4.5
3.7.12 (default, Sep 10 2021, 00:21:48)
[GCC 7.5.0]